/* Time-stamp: <2020-11-02 18:16:23 lockywolf> */


/* Common sense. */

body {
  font-family: sans-serif;
  margin: auto;
}

#content{
    padding: 2ex;
    max-width: 77ex;
    margin: auto;
}

/* Preamble: */
/* My own website navigation bar at the top. */
.navbar {
  background-color: #7F7F7F;
  border-radius: 0.4ex;
  font-size: 150%;
  text-align: center;
}

.navbar a {
  color: #F0F0F0;
  display: inline-block;
  /* padding: 1ex; */
  margin-right: 0.5ex;
  text-decoration: none;
  height: 0.75em;
}

.navbar a:hover {
  color: #050505;
}

/* Styling org-generated toc, based on ambrevar's ideas. */

#table-of-contents {
    max-height: 50%;
    overflow: auto;
    border-radius: 0.1ex 1ex 0.1ex 1ex;
    border: 0.3ex solid gray;
    font-weight: bold;
    padding: 0 0.3ex;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    background: white; 		/*broken:TODO*/
}

#table-of-contents ul {
		display: none;
}
#table-of-contents:hover ul {
		display: block;
}

#table-of-contents h2 {
		font-size: 100%;
		margin: 0;
}


/* Postamble. Org-generated dates, copyright and such. */

.comments{
    max-width: 77ex;
    margin:auto;
}

.colophon {
  background-color: #7F7F7F;
  border-radius: 0.2ex;
  font-size: 50%;
}

.colophon p {
  color: #363636;
  display: inline-block;
  /* padding: 1ex; */
  text-decoration: none;
  height: 1em;
}

/* Fix HTML insanity. */
img {
    max-height: 100%;
    max-width: 100%;
    background-size: 100% 100%;
}
